<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Price</th>
      <th>Area</th>
      <th>Flat type</th>
      <th>Block</th>
      <th>Estate</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <% block = unit.block %>
      <tr>
        <td><%= unit.no %></td>
        <td><%= unit.price %></td>
        <td><%= unit.area %></td>
        <td><%= unit.flat_type %></td>
        <td><%= block.id %></td>
        <td><%= block.estate.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
