<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @unit.no %>
</p>

<p>
  <strong>Price:</strong>
  <%= @unit.price %>
</p>

<p>
  <strong>Area:</strong>
  <%= @unit.area %>
</p>

<p>
  <strong>Flat type:</strong>
  <%= @unit.flat_type %>
</p>

<p>
  <strong>Block:</strong>
  <%= @unit.block %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
